<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hashpotatoesv20">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainEmptyActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"></activity>
        <activity android:name=".Notif.NotifActivity"></activity>
        <activity android:name=".Profile.ProfileActivity"></activity>
        <activity android:name=".Feature.FeatureActivity"></activity>
        <activity android:name=".Profile.AccountSettingsActivity"></activity>
        <activity android:name=".Login.RegisterActivity"></activity>
        <activity android:name=".Login.LoginActivity"></activity>
        <activity android:name=".Login.ForgotPasswordActivity"></activity>
        <activity android:name=".Main.CreatePostActivity"></activity>
        <activity android:name=".Profile.ChangeProfilePhotoActivity"/>
        <activity android:name=".Profile.CreateTagActivity"></activity>
        <activity android:name=".Utils.OnBoardActivity"></activity>
        <activity android:name=".Utils.TutorialActivity"></activity>
    </application>

</manifest>